<app-cart-confirmation *ngIf="checkout" (backToProducts)="onBackToProducts()" 
    [name]="userFullName"
    [address]="userAddress"
    [cardNo]="userCardNo"
    [price]="totalPrice"
></app-cart-confirmation>

<div *ngIf="!checkout && cartItems.length > 0" class="cart-container">
    <div class="cart-panel" >
        <app-cart-item-list [cartItems]="cartItems" (quantityChange)="onQuantityChange($event)"></app-cart-item-list>
        <br>
        <h3>Total Price: ${{totalPrice}}</h3>
        <button (click)="clearCart()">Clear Cart</button>
    </div>

    <div class="cart-panel">
        <form #cartForm="ngForm" class="form-margin" (ngSubmit)="onSubmit()">
            <h3>Full Name</h3>
            <input required minlength="6" class="text-input" type="text" name="userFullName" placeholder="Enter your full name" [(ngModel)]="userFullName">
            <br>
            <br>
            <h3>Address</h3>
            <input required minlength="6" class="text-input" type="text" name="userAddress" placeholder="Enter your mailing address" [(ngModel)]="userAddress">
            <br>
            <br>
            <h3>Credit Card No.</h3>
            <input required minlength="16" maxlength="16" class="text-input number-input" type="text" pattern="\d*" name="userCardNo." placeholder="16 Digits Card No." [(ngModel)]="userCardNo">
            <p>We will never share your payment details with anyone.</p>
            <input type="submit" [disabled]="cartForm.invalid" value="Submit">
        </form>
    </div>
</div>

<p class="empty-cart-message" *ngIf="!checkout && cartItems.length === 0">You currently have no items in the cart.</p>